body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  background-color: aqua;
  line-height: 1.5;
}

#ingredients {
  background-color: chartreuse;
  font-size: 25px;
  text-align: center;
  margin-left: 100px;
}

.ingredients {
  background-color: red;
  display: inline-block;
  margin-left: 50px;
  line-height: 1.5;
}

#steps {
  font-size: 25px;
  background-color: orange;
  text-align: center;
  margin-left: 100px;
}

.steps {
  background-color: yellow;
  line-height: 1.5;
  margin-left: 50px;
}
